<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>createUser</title>
    <link rel="stylesheet" href="/css/createUser.css">
</head>
<body>
<h1>Opret din bruger</h1>
<form action="/projectManagement/createUser" method="post" th:object="${newUser}">
    <label for="name">Skriv dit brugernavn</label>
    <input type="text" id="name" name="name" required th:field="*{userName}">
    <label for="password">Skriv dit kodeord</label>
    <input type="text" id="password" name="password" required th:field="*{userPassword}">
    <button type="submit">Opret</button>
    <a th:href="@{'/projectManagement'}">
        <button type="button">Afbryd</button>
    </a>
</form>
</body>
</html>