<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Welcome ' + ${userName}"></h1>
<ul>
    <li th:each="projects : ${userProjects}">
        <p th:text="'Name: ' + ${projects.getName()}"></p>
        <form th:action="@{'/projectManagement/' + ${userID} + '/userPage/editProject/' + ${projects.getID()}}">
            <button type="submit">Edit project</button>
        </form>
    </li>
    <form th:action="@{'/projectManagement/' + ${userID} + '/userLogin/createProject'}" method="get">
        <button type="submit">Create project</button>
    </form>
</ul>
</body>
</html>