<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="'Welcome ' + ${userName}"></h1>
<ul>
    <li th:each="projects : ${userProjects}">
        <p th:text="'Name: ' + ${projects.getName()}"></p>
        <form th:action="@{'/projectManagement/' + ${userID} + '/userPage/editProject/' + ${projects.getID()}}">
            <button type="submit">Edit project</button>
        </form>
        <form th:action="@{'/projectManagement/' + ${userID} + '/userPage/deleteProject/' + ${projects.getID()}}" method="post">
            <button type="submit">Delete project</button>
        </form>
        <label for="status">Project Status:</label>
        <select name="status" id="status">
            <option th:each="status : ${statusOptions}" th:value="${status.status}" th:text="${status.status}"></option>
        </select>
        <form th:action="@{'/projectManagement/' + ${userID} + '/userPage/createStatus/' + ${projects.getID()}}" method="get">
            <button type="submit">Create status</button>
        </form>
    </li>
    <form th:action="@{'/projectManagement/' + ${userID} + '/userLogin/createProject'}" method="get">
        <button type="submit">Create project</button>
    </form>
    <a th:href="@{'/projectManagement'}">
        <button type="button">Logout</button>
    </a>
</ul>
</body>
</html>
