<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Project Management Dashboard</title>
  <link rel="stylesheet" th:href="@{/projectSelectionPage.css}">
</head>
<body>
<div class="wrapper">
  <div class="header">
    <h1>Project Management Tool</h1>
  </div>
  <div class="content">
    <form th:action="@{/createProject}" method="post">
      <button type="submit">Create new project</button>
    </form>
    <form th:action="@{/selectProject}" method="post">
      <button type="submit">Select existing project</button>
    </form>
    <form th:action="@{/deleteProject}" method="post">
      <button type="submit">Delete project</button>
    </form>
  </div>
</div>
</body>
</html>
